  <!-- Header -->
 
 <header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <div class="countdown">
                        <span id="clock"></span>
                    </div>
                    <h1>Pole Excellence</h1>
                    <p class="p-large">BIENVENUE SUR VOTRE PLATEFORME D'ORIENTATION SCOLAIRE ET PROFESSIONNELLE</p>
                    <a class="btn-solid-lg page-scroll" href="#register">ORIENTATION</a>
                    <a class="btn-outline-lg page-scroll" href="#instructor">INFORMATIONS & CONSEILS</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container --> 
    
    <!-- Image Slider -->
    <div class="outer-container"> 
        <div class="slider-container">
            <div class="swiper-container image-slider-1">
                <div class="swiper-wrapper">
                    
                    <!-- Slide -->
                    <div class="swiper-slide" >
                        <img class="img-fluid" src="assets/images/pole-exce.jpg" alt="alternative">
                    </div>
                    <!-- end of slide -->
                    <!-- Slide -->
                    <div class="swiper-slide" >
                        <img class="img-fluid" src="assets/images/video.jpg" alt="alternative">
                    </div>
                    <!-- end of slide -->
                      <!-- Slide -->
                      <div class="swiper-slide" >
                        <img class="img-fluid" src="assets/images/video.jpg" alt="alternative">
                    </div>
                    <!-- end of slide -->
                      <!-- Slide -->
                      <div class="swiper-slide" >
                        <img class="img-fluid" src="assets/images/video.jpg" alt="alternative">
                    </div>
                    <!-- end of slide -->
                      <!-- Slide -->
                      
                  
                </div> <!-- end of swiper-wrapper -->
                
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- end of add arrows -->
                
            </div> <!-- end of swiper-container -->
        </div> <!-- end of slider-container -->
    </div> <!-- end of outer-container -->
    <!-- end of image slider -->

</header> <!-- end of header -->
<!-- end of header -->
