 <!-- Header -->
 <header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="white">A propos de nous</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a routerLink="/">Accueil</a><i class="fa fa-angle-double-right"></i><span>A propos de nous</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Privacy Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="image-container-large">
                    <img class="img-fluid" src="assets/images/POLE.jpeg" alt="alternative">
                </div> <!-- end of image-container-large -->
                <div class="text-container">
                    <h3>A propos de nous</h3>
                    <p>Pôle de l’Excellence Guinée (Sigle : POLE EXCELLENCE) est une entreprise du droit privé guinéen, créé en 2019, dont le siège social est situé dans la commune de Ratoma au quartier Sonfonia – Gare. Inscrite au registre de commerce sous le N° RCCM/GN.TCC.2019. A.06015 évoluant dans le secteur de l’éducation notamment dans l’orientation scolaire et professionnelle.</p>
                    <h3>nos missions</h3>
                    <div class="row">
                        <div class="col-md-6">
                            
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Digitaliser le système éducatif et les écoles en guinée et en Afrique de l’ouest;</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Informer les jeunes sur les métiers d’avenir, les formations professionnelles et qualifiantes, les parcours scolaires et professionnels et les mobilités scolaires ;</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Promouvoir l’excellence pour favoriser l’employabilité des jeunes ;</div>
                                </li>
                               
                            </ul>
                        </div> <!-- end of col -->

                        <div class="col-md-6">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">La mise en relation entre les établissements locaux et les établissements à l’étranger pour faciliter l’échange et la mobilité scolaire des élèves et des étudiants ;</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Accompagner les établissements scolaires, universitaires et professionnel dans l’orientation scolaire et professionnelle ;</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Moderniser la mobilité scolaire (Préinscription et bourse d’études).</div>
                                </li>
                   
                            </ul>
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of text-container-->
                
                <div class="text-container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Nos valeurs</h3>
                            <ul  class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Donner le meilleur de nos ressources à nos clients afin d’obtenir le maximum d’impact ;</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Travailler exclusivement avec des clients dont nous partageons les ambitions et les valeurs ;</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Maintenir le plus grand respect dans les rapports humains et former des collaborateurs de talent ;</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Conserver une éthique professionnelle et personnelle irréprochable ;</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Adopter une approche entrepreneuriale et flexible, dans le meilleur intérêt de nos clients.</div>
                                </li>
                   
                            </ul>
                        </div> <!-- end of col -->
                        <div class="col-md-6">
                            <div class="image-container-small">
                                <img class="img-fluid" src="assets/images/article-details-small.jpg" alt="alternative">
                            </div> <!-- end of image-container-small -->
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of text-container -->
                <h3>Visions</h3>
                <div class="text-container dark">
                    <p class="testimonial-text">Veut être dans les cinq (5) prochaines années un pôle excellence de référence et un leader dans l’orientation scolaire et professionnelle en Guinée et dans la sous-région.</p>
                </div> <!-- end of text container -->

                <div class="text-container last">
                    <h3>Nos services</h3>
                    <ul  class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">INFORMATIONS ET CONSEILS;</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">ORIENTATION SCOLAIRE ET PROFESSIONNELLE ;</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"> ETUDIER A L’ETRANGER</div>
                        </li>
                      
           
                    </ul>
                </div> <!-- end of text-container -->
                <a class="btn-solid-reg" routerLink="/">retour</a>
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<!-- end of privacy content -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a routerLink="/">Accueil</a><i class="fa fa-angle-double-right"></i><span>A propos</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->

