.text-container a{
    text-decoration: none;
    color: cadetblue;
}
.text-container a h4{
    text-decoration: none;
    color: cadetblue;
}
.text-container a h4:hover{
   
    font-weight: bolder;
}