 <!-- Header -->
 <header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="white">Bilan d'orientation</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a routerLink="/">Accueil</a><i class="fa fa-angle-double-right"></i><span>Bilan d'orientation</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Privacy Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="image-container-large">
                    <img class="img-fluid" src="assets/images/bilanOrientation.JPG" alt="alternative">
                </div> <!-- end of image-container-large -->
                <div class="text-container">
                    <h3>Bilan d’Orientation</h3>
                    <p>« Connais-toi toi-même », a dit Platon.</p>
                    <P>Voilà une expression qui traduit l’importance de la connaissance de soi pour s’épanouir dans la vie. Le bilan d’orientation vise justement à apporter aux jeunes élèves une meilleure connaissance d’eux-mêmes dans le but de choisir leur chemin professionnel dès le secondaire. </P>
                    <h3>Qu’est-ce qu’un bilan d’orientation ? </h3>
                    <P>Parfois, les anciens lycéens qui entrent en études supérieures se rendent compte que la filière qu’ils ont choisie ou été orientés ne correspond pas forcément à l’orientation professionnelle qu’ils envisagent. Et alors, ils sont un peu perdus et se demandent comment rectifier le tir, c’est-à-dire : se réorienter. Cependant, il faut d’abord savoir que, dans de nombreuses situations, des passerelles existent, ce qui signifie qu’une réorientation immédiate n’est pas nécessaire… Encore faut-il être au courant. C’est pour informer les élèves sur tous les choix qui s’offrent à eux en matière d’orientation que des conseillers se sont spécialisés dans le bilan d’orientation, afin d’aider les élèves et voir même des étudiants ou jeunes diplômés à réfléchir à leur avenir, à quel métier leur conviendrait, aux débouchés des formations éventuellement envisagées…</P>
                    <P>Le bilan d’orientation existe sous deux formes :</P>
                    <ul>
                        <li>
                            <strong>Scolaire :</strong> aide à l’orientation dans les études puis éventuellement l’orientation professionnelle en réalisant des tests de personnalité, des tests d’orientation…
                        </li>
                        <li>
                            <strong>Personnel :</strong> c’est plus un bilan de compétences qui vous aidera à répondre aux questions à propos de votre potentielle reconversion professionnelle
                        </li>
                    </ul>
                    <p>Il est fait pour analyser le fonctionnement de la personne et esquisser l’environnement où elle se sentira à son aise pour étudier ou travailler.</p>
                    <p>C’est ainsi une manière de faire un retour sur soi, sa propre situation actuelle, ses ambitions, ses projets, comprendre ses motivations profondes dans le but de se bâtir un avenir professionnel dans lequel la personne sera utile et s’épanouira.</p>
                    
                    <h3>Qui peut faire un bilan d’orientation ? </h3>
                    <p>Tout le monde peut faire un bilan d’orientation, à partir du moment où il se pose des questions telles que :</p>
                    <ul>
                        <li>Comment choisir une orientation après le BEPC ou le baccalauréat ?</li>
                        <li>Quelle formation est faite pour moi ?</li>
                        <li>Comment se réorienter ?</li>
                        <li>Dois-je poursuivre mes études ?</li>
                        <li>Comment choisir mon école ?</li>
                        <li>Comment faire un bilan de mon niveau pour telle ou telle formation ?</li>
                        <li>Est-ce que je peux m’inscrire pour une procédure d’études à l’étranger si je suis déjà étudiant ?</li>
                        <li>Comment trouver un projet de carrière qui me plaît vraiment ?</li>
                        <li>Quelles sont les formations qui existent dans le domaine où je voudrais potentiellement m’orienter ?</li>
                        <li>Quels sont les métiers d’avenir ?</li>
                    </ul>
                    
                    <h3>Quelles sont les étapes d’un bilan d’orientation ?</h3>
                    <p>Plusieurs étapes sont proposées aux jeunes élèves et étudiants lors de leur bilan d’orientation :</p>
                    <ul>
                        <li><strong> L’analyse individuelle : </strong>parcours scolaire, personnalité (motivations, talents, intérêts…), tout est passé en revue, ainsi que l’éventuel parcours professionnel. Le but ? Cerner le jeune de manière à détecter ses points forts ainsi que les plus sensibles… Et éventuellement, la formation d’un projet professionnel. </li>
                        <li><strong>L’exploration:</strong> les formations, les secteurs d’activités, découvrir les métiers… Afin que l’étudiant puisse trouver sa voie en étant assuré de s’y épanouir.</li>
                        <li><strong>L’élaboration du plan d’action personnel :</strong> les formations, les secteurs d’activités, découvrir les métiers… Afin que l’étudiant puisse trouver sa voie en étant assuré de s’y épanouir.</li>
                    </ul>
                    
                    <h3>Quels sont les bénéfices d’un bilan d’orientation ?</h3>
                    <p>Un bilan d’orientation peut permettre d’identifier :</p>
                    <ul>
                        <li><strong>Une formation,</strong> un environnement d’études qui sera facteur de motivation dans l’augmentation des chances de réussite</li>
                        <li><strong>Un métier</strong>qui correspond aux attentes, aspirations, personnalité, permettant un épanouissement personnel et professionnel</li>
                    
                    </ul>
                    <ul>
                        <li><strong>Équilibre personnel :</strong>trouver des études qui correspondent vraiment à qui on est, sa personnalité et ses besoins, prendre confiance en soi grâce à une meilleure connaissance de soi-même et ainsi s’affirmer.</li>
                        <li><strong>Insertion sur le marché de l’emploi :</strong> trouver un emploi qui correspond aux capacités et à un réel épanouissement dans le monde professionnel, pouvoir choisir son poste, l’entreprise et le secteur d’activité afin que l’insertion professionnelle se passe le mieux possible</li>
                    </ul>

                    <h3>Quel est le prix d’un bilan d’orientation ?</h3>
                    <p>De manière totalement gratuite, l’étudiant en collège ou lycée peut faire appel au psychologue de son collège ou lycée (ce qui est inexistant dans plusieurs écoles). Ou alors, il peut prendre rendez-vous dans un Centre d’Information et d’Orientation publique (qui ne se trouve pas actuellement en Guinée). Cependant l’élève ne sera pas assuré d’avoir les réponses à toutes ses questions : la demande y est très forte et le temps par élève est donc d’une demi-heure environ, ce qui n’est pas forcément assez pour un bilan complet.</p>
                    <p>Et puis, il reste la solution des centres d’orientation privés, ce qui coûte en général entre 150 000 et 500 000 GNF. Cela peut monter de quelques centaines de milles si vous souhaitez un bilan plus spécialisé pour l’orientation post-bac, par exemple, ou connaissance de soi, ou encore un bilan professionnel…</p>
                </div> <!-- end of text-container-->
                
                <!-- end of text-container -->
                <a class="btn-solid-reg" routerLink="/">retour</a>
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<!-- end of privacy content -->

 
<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a routerLink="/">Accueil</a><i class="fa fa-angle-double-right"></i><span>Bilan d'orientation</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->

