 <!-- Header -->
 <header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="white">Bilan de compétences</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a routerLink="/">Accueil</a><i class="fa fa-angle-double-right"></i><span>Bilan de compétences</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Privacy Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="image-container-large">
                    <img class="img-fluid" src="assets/images/bilanCompetences.JPG" alt="alternative">
                </div> <!-- end of image-container-large -->
                <div class="text-container">
                    <h3>Bilan de Compétences</h3>
                    <p>Le bilan de compétences permet d’analyser vos compétences professionnelles et personnelles, ainsi que vos aptitudes et vos motivations en appui d’un projet d’évolution professionnelle et, le cas échéant, de formation.</p>
              
                    <h3>Qu’est-ce que le bilan de compétences ?</h3>
                    <p>Le bilan de compétences permet de faire un point sur votre carrière afin de vous aider à définir un projet professionnel cohérent ou valider un projet de formation.</p>
                    <p>Le bilan de compétences est souvent lié à un licenciement, un départ de l’entreprise, une envie d’évolution du poste ou d’une orientation vers un autre métier. Il répond à vos questions pour une bonne gestion de votre carrière et permet de retrouver un emploi épanouissant. Tout au long du bilan de compétences, un consultant vous aide à valoriser votre expérience et votre profil pour certains postes, quelques soient votre âge, votre statut ou votre niveau d’études.</p>
                    <p><strong>Les étudiants nouvellement diplômés ont besoin de faire un bilan de compétences pour faire le point sur leurs compétences avant de faire un dépôt de dossiers dans une entreprise au risque de gâter leurs chances d’obtenir le poste souhaité. Ce bilan leur permettra de savoir s’ils sont prêts pour un emploi tout de suite ou s’ils ont besoins de compétences supplémentaires.</strong></p>
                    <p>Réalisé pendant ou en dehors du temps de travail, le bilan de compétences se déroule dans un organisme agréé de votre choix, qui garantit la totale confidentialité de votre démarche.</p>
                    <h3>Quelles sont les conditions d’accès au bilan de compétences ?</h3>
                    <p>Vous pouvez bénéficier d’un bilan de compétences, si vous êtes :</p>
                    <ul>
                        <li>Salarié du secteur privé, en contrat à durée indéterminée ou déterminée ;</li>
                        <li>Demandeur d’emploi : la demande doit être faite auprès de KoyoroJob, de l’AGUIPE ou directement à l’entreprise concernée ;</li>
                        <li>Salarié du secteur public (fonctionnaires, agents non titulaires…) : textes spécifiques mais dans des conditions similaires aux salariés.</li>
                    </ul>
                    <p>S’il choisit de mobiliser ses droits de formation, et de le faire en dehors du temps de travail, il n’est pas tenu d’informer son employeur de la démarche.</p>
                    <p>Dans le cas contraire, le salarié doit demander l’accord préalable de l’employeur selon les règles propres à l’utilisation de ces droits de formation.</p>
                    <p>Pour cela, il devra remplir certaines conditions en fonction de sa situation :</p>
                    <ul>
                        <li>Pour un salarié en CDI : il faut justifier de 5 années de salariat, consécutives ou non, dont 12 mois au sein de l’entreprise dans laquelle le salarié effectue la demande. À noter qu’un délai de franchise de 5 ans doit être respecté entre deux bilans ;</li>
                        <li>Pour un salarié en CDD : il faut justifier de 24 mois de salariat, consécutifs ou non, au cours des 5 dernières années dont 4 mois, consécutifs ou non, au cours des 12 derniers mois.</li>
                    </ul>

                    <h3>Si le bilan de compétences est à l’initiative de l’entreprise :</h3>
                    <p>Le bilan de compétences ne peut être réalisé qu’avec le consentement de l’employé.</p>
                    <p>La convention précise les objectifs, le contenu, les moyens, la durée et la période de réalisation, et les modalités de réalisation, les modalités de remise des résultats détaillés et du document de synthèse ainsi que le prix et les modalités de règlement du bilan.</p>
                    <p>Le salarié dispose d’un délai de 10 jours pour faire connaître son acceptation en restituant la convention qu’il aura signée, et son absence de réponse au terme de ce délai vaut refus.</p>
                    <p>Ce refus ne constitue ni une faute ni un motif de licenciement. Lorsque le bilan de compétence est réalisé sur le temps de travail, il est assimilé à l’exécution normale du contrat de travail. Le coût du bilan est à la charge de l’employeur, sauf dans les cas où les droits de formation sont mobilisés !</p>
                    
                    <h3>Les conditions d’accès au bilan de compétences</h3>
                    <ul>
                        <li>
                            Si vous êtes intérimaire : 5 ans d’ancienneté sont demandés avec 2 028 heures pour l’entreprise de travail temporaire concernée par la demande. Si vous restez dans la même branche en tant qu’intérimaire durant 3 ans, avec 1 an dans l’agence de travail temporaire actuelle, vous pouvez obtenir un bilan.
                        </li>
                        <li>
                            Si vous êtes salarié du public : depuis 2007, le droit à la formation permet de prétendre à un bilan professionnel avec 10 ans de service. Cette démarche s’inscrit alors dans la perspective d’une évolution géographique ou professionnelle.
                        </li>
                        <li>
                            Si vous êtes demandeur d’emploi : un bilan est accessible à partir de 3 ans d’expérience professionnelle. Il concerne les personnes de moins de 55 ans, au chômage depuis plus de 6 mois.
                        </li>
                        <li>
                            Si vous avez plus de 45 ans : à cet âge, vous accédez automatiquement à votre demande. Une ancienneté de 20 ans déclenche aussi ce droit.
                        </li>
                        <li>
                            Si vous êtes un nouveau diplômé, vous pouvez faire la demande de ce bilan dans une entreprise privée compétente.
                        </li>
                    </ul>

                    <p>Lorsque le bilan est réalisé sur le temps de travail, il est assimilé à l’exécution normale du contrat de travail. Le coût du bilan est à la charge de l’employeur, sauf dans les cas où les droits formations sont mobilisés.</p>
                   
                    <h3>Le déroulement du bilan de compétences</h3>
                   <p>La démarche comprend obligatoirement trois phases sous la conduite du prestataire. Le temps consacré à chaque phase est variable selon les actions conduites pour répondre à vos besoins.</p>
                   
                   <h6>Une phase préliminaire :</h6>
                   <ul>
                       <li>Confirmer votre engagement dans la démarche ;</li>
                       <li>Définir et analyser la nature de vos besoins ;</li>
                       <li>Informer des conditions de déroulement du bilan et des méthodes et techniques mises en œuvre.</li>
                   </ul>

                   <h6>Une phase d’investigation:</h6>
                   <p>Cette étape vous permet :</p>
                   <ul>
                       <li>D’analyser vos motivations et intérêts professionnels et personnels ;</li>
                       <li>D’identifier vos compétences et aptitudes professionnelles et personnelles et, le cas échéant, d’évaluer vos connaissances générales ;</li>
                       <li>De déterminer vos possibilités d’évolution professionnelle.</li>
                   </ul>

                   <h5>Une phase de conclusion :</h5>
                   <p>Cette étape vous permet au travers d’entretiens personnalisés de :</p>
                   <ul>
                       <li>Prendre connaissance des résultats détaillés de la phase d’investigation ;</li>
                       <li>Recenser les facteurs susceptibles de favoriser ou non la réalisation d’un projet professionnel et, le cas échéant, d’un projet de formation ;</li>
                       <li>Prévoir, le cas échéant, les principales étapes de la mise en œuvre de ce projet.</li>
                   </ul>
                   <h3>Durée du bilan de compétences</h3>
                   <p>La durée du bilan de compétences varie selon le besoin de la personne. Elle ne peut cependant excéder une durée maximum de 24 heures, et se répartit généralement sur plusieurs semaines.</p>
                   <h3>Où faire un bilan de compétences ?</h3>
                   <p>Le bilan de compétences est obligatoirement réalisé par un prestataire extérieur à l’entreprise, qui ne peut organiser elle-même en interne le bilan pour ses salariés. Le candidat doit recourir à un organisme de formation agréé.</p>
                  
                   <a class="btn-solid-reg" routerLink="/">retour</a>
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<!-- end of privacy content -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a routerLink="/">Accueil</a><i class="fa fa-angle-double-right"></i><span>A propos</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->

