   <!-- Header -->
   <header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="white">Privacy Policy</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Privacy Policy</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Privacy Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h3>Private Data We Receive And Collect</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum corrupti ullam qui maxime ducimus quod, cum ad quos quas possimus dignissimos, magnam fugit, laborum odit accusantium sunt dolores molestiae reiciendis.</p>
                    <p>When you first register for a Corso account, and when you use the Services, we collect some <a href="#your-link">Personal Information</a> about you such as:</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled li-space-lg">
                                
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis excepturi eveniet perspiciatis doloremque ut repellendus quo quae maxime. Tenetur natus libero vitae voluptatem suscipit dolorum repellat accusamus? Ad, eos neque.</div>
                                </li>
                            </ul>
                        </div> <!-- end of col -->

                        <div class="col-md-6">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum magni ab incidunt, cupiditate molestias at ipsa ut veniam eaque sapiente alias similique corporis, sunt esse delectus error maiores dolores aut.</div>
                                </li>
                              
                            </ul>
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of text-container-->
                
                <div class="text-container">
                    <h3>How We Use Corso Landing Page Data</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius sed aliquam eveniet asperiores repudiandae explicabo et. Cupiditate reprehenderit vero, beatae ipsum ipsam cum molestias excepturi deserunt consectetur est. Laudantium, cupiditate.</p>
                    <ol class="li-space-lg">
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere nisi ad accusantium tempore, temporibus sint placeat minima eveniet dicta fug</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum sed animi, nihil eligendi perspiciatis deleniti, ipsum possimus totam quasi dicta accusantiu</li>
                    </ol>
                </div> <!-- end of text-container -->

                <div class="text-container">
                    <h3>Customer Content We Process For Customers</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis soluta quae voluptatem nisi aliquam sint, obcaecati facere consectetur</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor inventore praesentium natus iure delectus debitis, sint quisquam rerum voluptate, repellat suscipit enim. Ad, vitae. Nesciunt nam in debitis rem? Odit?</p>
                </div> <!-- end of text container -->

                <div class="text-container">
                    <h3>Consent Of Using Corso Landing Page</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic neque in itaque, delectus deserunt voluptatibus mollitia! Dicta laudantium, ducimus ratione te.</p>
                </div> <!-- end of text-container -->
                                   
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-container last">
                            <h3>Do you have any question?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam mollitia necessitatibus magni maiores hic atque aliquam eum beata</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti consequatur atque cumque, rem assumenda soluta dolorem obcaecati at eaqu</p>
                        </div> <!-- end of text container -->
                    </div> <!-- end of col-->
                    <div class="col-md-6">

                        <!-- Privacy Form -->
                        <div class="form-container">
                            <form id="privacyForm" data-toggle="validator" data-focus="false">
                                <div class="form-group">
                                    <input type="text" class="form-control-input" id="pname" required>
                                    <label class="label-control" for="pname">Name</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control-input" id="pemail" required>
                                    <label class="label-control" for="pemail">Email</label>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control-select" id="pselect" required>
                                        <option class="select-option" value="" disabled selected>Chosir une option</option>
                                        <option class="select-option" value="Delete data">Orientation scolaire</option>
                                        <option class="select-option" value="Delete data">Etudier à l'étranger</option>
                                        <option class="select-option" value="Show me data">Installer internet chez vous</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group checkbox">
                                    <input type="checkbox" id="pterms" value="Agreed-to-Terms" required>J'ai lu et accepte  <a routerLink="/privacypolicy">Privacy Policy</a> et  <a routerLink="/termcondition">les Terms & Conditions</a> d'utilisation
                                 <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control-submit-button">ENVOYER</button>
                                </div>
                                <div class="form-message">
                                    <div id="pmsgSubmit" class="h3 text-center hidden"></div>
                                </div>
                            </form>
                        </div> <!-- end of form container -->
                        <!-- end of privacy form -->

                    </div> <!-- end of col--> 
                </div> <!-- end of row -->
                <a class="btn-solid-reg" href="index.html">BACK</a>
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<!-- end of privacy content -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Privacy Policy</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->

