 <!-- Header -->
 <header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="white">Coaching Scolaire</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a routerLink="/">Accueil</a><i class="fa fa-angle-double-right"></i><span>Coaching Scolaire</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Privacy Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="image-container-large">
                    <img class="img-fluid" src="assets/images/coachingScolaire.JPG" alt="alternative">
                </div> <!-- end of image-container-large -->
                <div class="text-container">
                    <h3>Coaching Scolaire</h3>
                    <p>Le coaching scolaire est une forme de soutien qui accompagne les élèves dans la recherche de leurs ressources personnelles. Il n’y a pas de conseils en kit, il s’agit de « coconstruire » des solutions personnelles adaptées. L’élève possède déjà, en lui, l’ébauche de ses propres solutions. Le coach n’est là que pour canaliser, faciliter la découverte et le changement. Il vise avant tout des résultats concrets.</p>    
                    <p>Le coaching scolaire s’adresse à tous les jeunes qui éprouvent des difficultés à évoluer sereinement dans leur vie, non seulement dans la sphère de l’école mais également dans leurs relations avec leurs pairs, dans leurs contacts avec les adultes, etc. Il ne s’agit pas seulement d’aider des élèves en décrochage scolaire : le coaching concerne tous les jeunes confrontés à des obstacles qui leur paraissent a priori insurmontables.</p>
                        <h3 align="center">Objectifs</h3>
                     <p>Les séances de coaching permettent notamment de travailler sur le manque de motivation, les lacunes d’organisation, les problèmes de méthodologie, les choix d’orientation, la gestion du stress et, surtout, le manque cruel de confiance en soi qui est bien souvent la cause de tous les maux …</p>
                     <p>Il faut par ailleurs savoir que tous les enfants ne sont pas égaux devant l’école. Le coach peut aider l’élève à découvrir son profil pédagogique et à adopter des méthodes d’apprentissage qui correspondent au mieux à celui-ci.</p>
                     <p>L’élève qui s’adresse au coach manifeste très souvent son désarroi et son incapacité à résoudre un problème qui le dépasse et qu’il a souvent tendance à surestimer mais il n’y a pas de recette miracle. La démarche du coach consiste à fragmenter un problème global en tâches à résoudre beaucoup plus ciblées et donc accessibles par l’élève en difficulté. Chaque tâche ciblée menée à bien lui permettra de reprendre confiance en lui, de prendre conscience des « erreurs » ou manquements à l’origine du problème et de tester de nouvelles techniques et ressources pour choisir celles qui lui sont le mieux adaptées.</p>
                     <p>L’objectif du coaching est d’identifier des solutions, des comportements, des techniques propres à l’élève pour mettre en place des stratégies qui l’aideront à réussir à l’école. L’objectif sous-jacent est de développer l’autonomie de l’élève, de l’aider à se responsabiliser et de lui montrer qu’il est pertinent de changer et que c’est lui-même le seul véritable responsable de ce changement.</p>
                     <h3>Les disciplines et les compétences concernées</h3>
                     <p>Toutes les disciplines sont concernées. Le coaching scolaire peut aider n’importe quel élève dans sa recherche de solutions personnelles afin de réussir à l’école.</p>
                     <h4>Mise en pratique</h4>
                     <h5>Le coaching scolaire : pour qui ?</h5>
                     <strong>L’élève qui, à un moment donné :</strong>
                     <ul>
                         <li>Connaît des difficultés scolaires, un manque de motivation, des problèmes de comportement, qui amènent à une baisse conséquente des résultats, voire à l’échec ;</li>
                         <li>A essayé d’y remédier par des cours particuliers, sans grand succès ;</li>
                         <li>A besoin d’un point de vue neuf, extérieur, neutre, objectif, sur la situation ;</li>
                         <li>Veut mieux prendre conscience de son mode de fonctionnement, ses comportements et ses attitudes ;</li>
                         <li>Souhaite bénéficier d’une expérience, d’un apport de connaissances extérieures ;</li>
                         <li>A besoin d' »apprendre à apprendre ».</li>
                     </ul>

                     <h3>Le coaching scolaire : pourquoi ?</h3>
                     <p>La remédiation scolaire classique ne suffit pas. Certains élèves ou étudiants n’ont pas « appris à apprendre », manquent d’organisation et de méthode, trouvent l’école inintéressante, ont subi des vexations, … bref, sont dé- motivés. Le coach est neutre, ne juge pas ; il apporte un regard neuf, exempt d’a priori. Il aide l’élève à identifier l’origine de ses difficultés et à « trouver la clé ».</p>
                     <p>La remédiation scolaire classique ne suffit pas. Certains élèves ou étudiants n’ont pas « appris à apprendre », manquent d’organisation et de méthode, trouvent l’école inintéressante, ont subi des vexations, … bref, sont dé- motivés. Le coach est neutre, ne juge pas ; il apporte un regard neuf, exempt d’a priori. Il aide l’élève à identifier l’origine de ses difficultés et à « trouver la clé ».</p>
                     <p>Les comportements, les attitudes à l’école ont un impact sur les autres et engendrent des réactions plus ou moins conscientes. Le coach aide à les identifier, à distinguer ce qui est généré par l’élève, par l’autre ou par le contexte. Une meilleure connaissance de ces mécanismes permet d’obtenir des réactions différentes, de résoudre des difficultés relationnelles, de gérer ce que l’école appelle parfois un peu vite « troubles du comportement » (déficit d’attention, hyperactivité, etc.)</p>
                     <p>Le coaching vise à faire remonter la moyenne par une organisation du travail plus efficace, à redonner confiance, à transformer la spirale négative en spirale positive, rendant ainsi la vie plus agréable à tous : étudiants, parents et enseignants</p>
                     <p>Aux enfants, adolescents ou jeunes adultes à haut potentiel, le coach apprend à décoder le fonctionnement de l’école et des enseignants, leur propre fonctionnement et à gérer les différences. Ou « comment s’adapter au moule de l’école sans y entrer » …</p>
                   
                     <h3>Le coaching scolaire : comment ?</h3>
                     <p>Tout d’abord, le coach fixe un premier rendez-vous avec l’élève qui le souhaite. Il est préférable que cela se déroule sur base d’une initiative personnelle de l’élève. Ensuite, dès le début du rendez-vous, le coach observe l’élève et détermine son canal principal d’apprentissage. De cette façon, le coach est disposé à communiquer de la façon la plus adaptée avec l’élève et à lui proposer différentes techniques et/ou stratégies pour atteindre ses objectifs et augmenter ses chances de réussite.</p>
                     <p>Dès que la conversation préliminaire est achevée, l’élève détermine son premier objectif (positif, valorisant, réalisable, mesurable, …) et choisit une technique, une stratégie ainsi que les outils qu’il va utiliser pour atteindre son objectif. A la fin de ce premier entretien, le coach conclut en énonçant clairement l’objectif choisi par l’élève, les techniques et ressources sur lesquelles l’élève peut compter pour l’atteindre ainsi que le délai convenu. La demande du rendez-vous suivant est formulée par l’élève coaché au moment où il le souhaite.</p>
                     <h3>Le coaching scolaire : par qui ?</h3>
                      <p>Le coaching scolaire ne s’improvise pas. Il doit être confié à un (ou des) enseignant(s) qui s’est (se sont) impliqué(s) dans des formations au coaching faisant appel à de nombreuses connaissances et pratiques : l’écoute active, la reformulation, le constructivisme, les profils d’apprentissage, les intelligences multiples, la gestion mentale, la gestion matérielle et temporelle, l’assertivité, la spirale dynamique, l’autohypnose, la gestion de conflits… ainsi que sur une réflexivité de tous les instants. La boîte à outils d’un coach s’étoffe au fur et à mesure des formations, des expériences de coaching et des années.</p>
                     <h3>Cas concrets traités</h3>
                     <ul>
                         <li>Remise en ordre d’un élève absent pendant une longue période (par exemple sous certificat médical) ;</li>
                         <li>Réinsertion d’un élève en décrochage scolaire ;</li>
                         <li>Motivation d’un élève découragé ;</li>
                         <li>Apprentissage d’une meilleure organisation ;</li>
                         <li>Amélioration d’une technique de mémorisation ;</li>
                         <li>Découverte du profil d’apprentissage personnel de l’élève et des stratégies qui y sont adaptées.</li>
                     </ul>
                     
                    </div> <!-- end of text-container-->
                
                
                <a class="btn-solid-reg" routerLink="/">retour</a>
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<!-- end of privacy content -->

  
<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a routerLink="/">Accueil</a><i class="fa fa-angle-double-right"></i><span>Coaching Scolaire</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->

