 <!-- Header -->
 <header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="white">Informations & Conseils</h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a routerLink="/">Accueil</a><i class="fa fa-angle-double-right"></i><span>Informations & Conseils</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<!-- Privacy Content -->
<div class="ex-basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="image-container-large">
                    <img class="img-fluid" src="assets/images/imageIncnu.JPG" alt="alternative">
                </div> <!-- end of image-container-large -->
                <div class="text-container">
                    <!-- <h3>Informations & Conseils</h3>
                    <p>Pôle de l’Excellence Guinée (Sigle : POLE EXCELLENCE) est une entreprise du droit privé guinéen, créé en 2019, dont le siège social est situé dans la commune de Ratoma au quartier Sonfonia – Gare. Inscrite au registre de commerce sous le N° RCCM/GN.TCC.2019. A.06015 évoluant dans le secteur de l’éducation notamment dans l’orientation scolaire et professionnelle.</p> -->
                    <!-- <h3>nos missions</h3> -->
                    <div class="row">
                        <div class="col-md-6">
                            
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Pourquoi je vais à l’école chaque jour?</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Quelle option je dois faire au Lycée?</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Quelle filière je vais choisir à l’université?</div>
                                </li>
                               
                            </ul>
                        </div> <!-- end of col -->

                        <div class="col-md-6">
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Quel métier et fait pour moi?</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Quel type de diplôme il me faut?</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Quelle entreprise aura besoin de mes service?</div>
                                </li>
                   
                            </ul>
                        </div> <!-- end of col -->
                    </div> <!-- end of row -->
                </div> <!-- end of text-container-->
                
                
                <!-- <h3>Visions</h3> -->
                <div class="text-container last">
                    <h3>Liste des institutions publiques en Guinée.</h3>
                    <ul>
                        <li> <strong> Universités:</strong>
                           <ul>
                               <li>Université Gamal Abdel NASSER de Conakry (UGANC/Conakry)</li>
                               <li>Université Général Lansana CONTÉ de Sonfonia (UGLC/Sonfonia/Conakry)</li>
                               <li>Université Julius NYERERE de Kankan (UJNK/Kankan).</li>
                               <li>Université de Kindia (UK/Kindia)</li>
                               <li>Université de Labé (UL/Labé)</li> 
                               <li>Université de N’Zérékoré (UZ/N’Zérékoré).</li>
                            </ul>
                         </li>
                         <li>   <strong> Neuf (9) Instituts Supérieurs :</strong>
                                <ul>
                                   
                                    <li>Institut Supérieur des Sciences de l’Education de Guinée (ISSEG-Lambanyi-Conakry)</li>
                                    <li>Institut Supérieur Agronomique et Vétérinaire (ISAV/Faranah)</li>
                                    <li>Institut Supérieur des Mines et de Géologie (ISMG/Boké) </li>
                                    <li>Institut Supérieur de Technologie (IST/Mamou)</li>
                                    <li>Institut Supérieur des Sciences et de Médecine Vétérinaire (ISSMV/Dalaba)</li>
                                    <li>Institut Supérieur d’Architecture et d’Urbanisme (ISAU/Conakry) </li>
                                    <li>Institut Supérieur des Arts Mory Kanté (ISAMK/Dubréka)</li>
                                    <li>Institut Supérieur de Formation à Distance (ISFAD)- Conakry</li>
                                    <li>Institut Supérieur de l’Information et de la Communication (ISIC/Kountia/Coyah)</li>
                                </ul>
                         </li>
                         <li>   <strong>Une (1) École Supérieure :</strong>
                             <ul>
                                 
                                 
                                     
                                         <li>Ecole Supérieure de Tourisme et de l’Hôtellerie (ESTH/Conakry)</li>
                                    
                             </ul>
                         </li>
                    </ul>
                </div> <!-- end of text-container -->
                <br> <br>
                <h3></h3>
                <div class="text-container dark">
                    <p class="testimonial-text">C’est un service très important qui est la solution à plusieurs problèmes du système éducatif guinéen.</p>
                    <P>D’après une étude de marché très approfondis, nous avons constater une manque d’information au niveau des parents d’élève et également au niveau des élèves et étudiants. Il y à même des écoles, plusieurs écoles qui ne sont pas informer sur les métier d’avenirs, le formations qualifiantes et le parcours scolaire.</P>
                    <P>Par ce manque d’information, les jeunes élèves on du mal à choisir une formation qui les correspondent. la majorité s’oriente par suivisme. l’Information est une chose essentielle pour la réussite de chaque projet de la vie.</P>
                    <P>C’est pourquoi nous proposons ce service gratuitement au parent d’élèves, au élèves et étudiants et voir même aux établissements.</P>
                    <ul>
                        <li>
                            <strong>INFORMATIONS: </strong >
                                <span>ce service est gratuit et concerne tous les jeunes et les parents d’élèves. Il va consister à communiquer des informations détaillées sur <strong>les formations qualifiantes, les métiers</strong> </span>
                        </li>
                        <li>
                            <strong>CONSEILS : </strong> Apporter des conseils sur les différents choix d’orientation de nos clients. Après avoir donner des informations, nous apportons des conseilles et des propositions sur des actions a faire pour mieux s’orienter.
                        </li>
                    </ul>
                </div> <!-- end of text container -->

                
                <a class="btn-solid-reg" routerLink="/">retour</a>
            </div> <!-- end of col-->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-2 -->
<!-- end of privacy content -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a routerLink="/">Accueil</a><i class="fa fa-angle-double-right"></i><span>Informations & Conseils</span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->

