 <!-- Date -->
 <div id="date" class="basic-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h2>22 Decembre 2020 à la maison des jeunes de sonfonia.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum libero alias quidem pariatur totam illo unde, ad, adipisci officiis porro minima corporis molestias cupiditate quos deserunt ut obcaecati labore odit!</p>
                    <a class="btn-solid-lg page-scroll" href="#register">REGISTER</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-5 -->
<!-- end of date -->


<!-- Newsletter -->
<div class="form-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Restez informé et à la séconde de toutes les nouvelles publications que fait Pole excellence.</h3>
                
                <!-- Newsletter Form -->
                <form id="newsletterForm" data-toggle="validator" data-focus="false">
                    <div class="form-group">
                        <input type="email" class="form-control-input" id="nemail" required>
                        <label class="label-control" for="nemail">Email</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group checkbox">
                        <input type="checkbox" id="nterms" value="Agreed-to-Terms" required>J'ai lu et accepte le <a routerLink="/privacypolicy">Les conditions de confidentialités</a> et les <a routerLink="/termcondition"> termes d'utilisation</a> 
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">Envoyer</button>
                    </div>
                    <div class="form-message">
                        <div id="nmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
                <!-- end of newsletter form -->

                <!-- Social Links -->
                <div class="icon-container">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-pinterest-p fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-linkedin-in fa-stack-1x"></i>
                        </a>
                    </span>
                </div> <!-- end of icon-container -->
                <!-- end of social icons -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of newsletter -->
