  <!-- Registration -->
  <div id="register" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Enregistrez-vous ici</h2>
                    <p>C'est simple de s'enregistrer, jvous avez juste à remplir ce formulaire et appuyer sur submit. JJuste apres vous serez prêt à utiliser les services de chez Pole-excellence.</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong>Vos informations</strong> sont obligatoires pour completer l'enregistrement.</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong>vos données</strong> ne seront pas utilisées pour des fin de marketing.</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body"><strong>vous recevrez </strong> une confirmation en moins de 24h.</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">

                <!-- Registration Form -->
                <div class="form-container">
                    <form id="registrationForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="rname" name="rname" required>
                            <label class="label-control" for="rname">nom complet</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="remail" name="remail" required>
                            <label class="label-control" for="remail">adresse mail</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="rphone" name="rphone" required>
                            <label class="label-control" for="rphone">telephone</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="rterms" value="Agreed-to-Terms" name="rterms" required>J'ai lu et accepte  <a routerLink="/privacypolicy">Privacy Policy</a> et  <a routerLink="/termcondition">les Terms & Conditions</a> d'utilisation
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">envoyer</button>
                        </div>
                        <div class="form-message">
                            <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div> <!-- end of form-container -->
                <!-- end of registration form -->
                
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of registration -->


<!-- Partners -->
<div class="slider-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">PARTENAIRES</p>

                <!-- Image Slider -->
                <div class="slider-container">
                    <div class="swiper-container image-slider-2">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                    <img class="img-fluid" src="assets/images/customer-logo-1.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                    <img class="img-fluid" src="assets/images/customer-logo-2.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                    <img class="img-fluid" src="assets/images/customer-logo-3.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                    <img class="img-fluid" src="assets/images/customer-logo-4.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                    <img class="img-fluid" src="assets/images/customer-logo-5.png" alt="alternative">
                            </div>
                            <div class="swiper-slide">
                                    <img class="img-fluid" src="assets/images/customer-logo-6.png" alt="alternative">
                            </div>
                        </div> <!-- end of swiper-wrapper -->
                    </div> <!-- end of swiper container -->
                </div> <!-- end of slider-container -->
                <!-- end of image slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-1 -->
<!-- end of partners -->


<!-- Instructor -->
<div id="instructor" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="assets/images/instructor.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>I’m Diallo votre serviteur</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum odit cum quisquam commodi ipsam architecto quod deserunt? Tenetur eos delectus quibusdam non repellendus.</p>
                    <p>Ici ce sera le lieu pour votre présentation.</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of instructor -->
